.add-btn {
  position: fixed !important;
  right: 20px !important;
  bottom: 70px !important;
  z-index: 10 !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  font-size: 40px !important;
  min-width: 50px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
